@model ParkyWeb.Models.ViewModels.TrailViewModel
@using ParkyWeb.Enums
@{
    string title = "Create Trail"; 
    if (Model.Trail.Id > 0)
    {
        title = "Edit Trail"; 
        <input type="hidden" asp-for="Trail.Id" />
    }
    ViewData["Title"] = title;
}
<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NationalParks">National Park</label>

                </div>
                <div class="col-8">
                    @Html.DropDownListFor(model => model.Trail.NationalParkId, Model.NationalParks,
                   "---Please select a park---", new { @class = "form-control" })
                    <span asp-validation-for="Trail.NationalParkId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Trail.Name"></label>

                </div>
                <div class="col-8">
                    <input asp-for="Trail.Name" class="form-control" />
                    <span asp-validation-for="Trail.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Trail.Difficulty"></label>

                </div>
                <div class="col-8">
                    <select asp-for="Trail.Difficulty"
                            asp-items="Html.GetEnumSelectList<DifficultyType>()" class="form-control"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Trail.Distance"></label>

                </div>
                <div class="col-8">
                    <input asp-for="Trail.Distance" class="form-control" />
                    <span asp-validation-for="Trail.Distance" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Trail.Elevation"></label>

                </div>
                <div class="col-8">
                    <input asp-for="Trail.Elevation" class="form-control" />
                    <span asp-validation-for="Trail.Elevation" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4 offset-4">
                    <button type="submit" class="@(Model.Trail.Id > 0? "btn btn-info" : "btn btn-success") form-control">
                        @(Model.Trail.Id > 0 ? "Update" : "Create")
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div> 
    </div> 
</form> 